<div class="marker"><b class="violet">{{ event.city.label}},  {{ event.startDate|date('Y-m-d') }}</b><br><b>{{ event.place }}</b><br><b>{{ event.address }}</b><br><span class="eventHours">{{ event.timeDetails|nl2br }}</span><br><br><span class="extraEvents">{{ event.info|nl2br }}</span></div>
