{% extends "AcardFrontendBundle::page_layout.html.twig" %}

{% block javascripts %}
    {{ parent() }}
    {% if page.urlTitle != 'kontakt' %}
        <script src="{{ asset('bundles/acardfrontend/js/box_scroll.js') }}"></script>
    {% endif %}
{% endblock %}

{% block body %}
    {{ include('AcardFrontendBundle:_Partials:stats_small.html.twig', {}) }}
    <section class="page-content">
        <div class="wrapper">
            <div class="col-sm-8 page-content-article form">
                {% block content %}
                    <div class="col-sm-8 page-content-article formularz {{ page.wrapperCssClass }}">
                        {{ page.text|raw }}
                    </div>
                {% endblock %}

            </div>
            {{ include('AcardFrontendBundle:_Partials:calendarium.html.twig', {}) }}
        </div>
    </section>
    {{ include('AcardFrontendBundle:_Partials:modal_video.html.twig', {}) }}

    {{ include('AcardFrontendBundle:_Partials:teasers.html.twig', {}) }}

{% endblock %}