<footer>

    <div class="wrapper logo-wrapper">
    <h2>PATRONAT NAD KAMPANIĄ CIŚNIENIE NA ŻYCIE OBJĘLI</h2>
      <div class="logo-flexslider">
        <ul class="slides">
            <li><a href="http://www.ptkardio.pl" target="_blank"><img src="{{ asset('bundles/acardfrontend/img/logo-partners/ptk.jpg') }}"/></a></li>
            <li><a href="http://www.cukrzyca.info.pl" target="_blank"><img src="{{ asset('bundles/acardfrontend/img/logo-partners/ptd.jpg') }}"/></a></li>
            <li><a href="http://www.gerontologia.org.pl" target="_blank"><img src="{{ asset('bundles/acardfrontend/img/logo-partners/ptg.jpg') }}"/></a></li>
            <li><a href="http://www.ptnefro.pl" target="_blank"><img src="{{ asset('bundles/acardfrontend/img/logo-partners/ptn.jpg') }}"/></a></li>
            <li><a href="http://www.nipip.pl" target="_blank"><img src="{{ asset('bundles/acardfrontend/img/logo-partners/nrpip.jpg') }}"/></a></li>
            <li><a href="http://www.federacjapz.pl" target="_blank"><img src="{{ asset('bundles/acardfrontend/img/logo-partners/pz.jpg') }}"/></a></li>
            <li><a href="http://www.porozumieniepoz.pl" target="_blank"><img src="{{ asset('bundles/acardfrontend/img/logo-partners/ppoz.jpg') }}"/></a></li>
            <li><a href="https://nadcisnienietetnicze.pl/ptnt/aktualnosci" target="_blank"><img src="{{ asset('bundles/acardfrontend/img/logo-partners/ptnt.jpg') }}"/></a></li>
        </ul>
      </div>
    </div>
    <div class="wrapper map-wrapper">
        <ul>
            <li><a href="{{ url('acard_frontend_page_view', {'pageUrl': 'o-kampanii'}) }}">O kampanii</a></li>
            <li><a href="{{ url('acard_frontend_page_view', {'pageUrl': 'nadcisnienie'}) }}">O nadciśnieniu</a></li>
            <li><a href="{{ url('acard_frontend_page_view', {'pageUrl': 'kalendarium'}) }}">Kalendarium badań</a></li>
            <li><a href="{{ url('acard_frontend_page_view', {'pageUrl': 'acard'}) }}">Acard</a></li>
            <li><a href="{{ url('acard_frontend_page_view', {'pageUrl': 'wiek-serca'}) }}">Wiek serca</a></li>
            <li><a href="{{ url('acard_frontend_page_view', {'pageUrl': 'kontakt'}) }}">Kontakt</a></li>
        </ul>
    </div>

    <div class="copyright-bar">
        <div class="wrapper">
					<span>
						Wszystkie prawa zastrzeżone © Polpharma Biuro Handlowe Sp. z o.o.
					</span>
        </div>
    </div>

    <div class="legal-footer">
        <div class="wrapper">

            
					<span class="co-sponsor">
						Sponsorem kampanii Ciśnienie na życie jest 
                    </span>

                    <img src="{{ asset('bundles/acardfrontend/img/polfa.jpg') }}" alt="Polfa Warszawa" class="footer-logo"> 

                    <span class="co-sponsor">
                       - producent leku <b>Acard</b>.
					</span>

            <div class="clearfix"></div>

            <p class="medical">
                <b>Acard</b> <em>(Acidum acetylsalicylicum)</em>. <b>Skład i postać:</b> Jedna tabletka dojelitowa zawiera odpowiednio 75 mg lub 150 mg kwasu acetylosalicylowego <b>Wskazania do stosowania:</b> Choroba niedokrwienna serca oraz wszelkie sytuacje kliniczne, w których celowe jest hamowanie agregacji płytek krwi: zapobieganie zawałowi serca u osób dużego ryzyka, świeży zawał serca lub podejrzenie świeżego zawału serca, niestabilna choroba wieńcowa, prewencja wtórna u osób po przebytym zawale serca, stan po wszczepieniu pomostów aortalno-wieńcowych, angioplastyce wieńcowej, zapobieganie napadom przejściowego niedokrwienia mózgu (TIA) i niedokrwiennego udaru mózgu u pacjentów z TIA, po przebytym udarze niedokrwiennym mózgu u pacjentów z TIA, u osób z zarostową miażdżycą tętnic obwodowych, zapobieganie zakrzepicy naczyń wieńcowych u pacjentów z mnogimi czynnikami ryzyka, zapobieganie zakrzepicy żylnej i zatorowi płuc u pacjentów długotrwale unieruchomionych, np. po dużych zabiegach chirurgicznych jako uzupełnienie innych sposobów profilaktyki. <b>Przeciwwskazania:</b> Produktu Acard nie należy stosować: w przypadku nadwrażliwości na substancję czynną – kwas acetylosalicylowy, inne salicylany lub którąkolwiek substancję pomocniczą leku; u pacjentów ze skazą krwotoczną; u pacjentów z czynną chorobą wrzodową żołądka i (lub) dwunastnicy; u pacjentów z ciężką niewydolnością nerek; u pacjentów z ciężką niewydolnością wątroby; u pacjentów z ciężką niewydolnością serca (Acard 150 mg); u pacjentów z napadami tzw. astmy aspirynowej w wywiadzie, wywołanymi podaniem salicylanów lub substancji o podobnym działaniu, szczególnie niesteroidowych leków przeciwzapalnych; jednocześnie z metotreksatem w dawkach 15 mg na tydzień lub większych; w ostatnim trymestrze ciąży; u dzieci w wieku do 12 lat w przebiegu infekcji wirusowych ze względu na ryzyko wystąpienia zespołu Reye’a – rzadko występującej, ale ciężkiej choroby powodującej uszkodzenie wątroby i mózgu. <b>Podmiot odpowiedzialny:</b> Warszawskie Zakłady Farmaceutyczne Polfa S.A. Dodatkowych informacji o leku udziela: Polpharma Biuro Handlowe Sp. z o.o., ul. Bobrowiecka 6, 00-728 Warszawa, tel. +48 22 364 61 00; fax. +48 22 364 61 02. <a href="http://www.polpharma.pl" target="_blank">www.polpharma.pl</a>
            </p>

            <p class="medical-warning">
                Przed użyciem zapoznaj się z ulotką, która zawiera wskazania, przeciwwskazania, dane dotyczące działań niepożądanych i dawkowanie oraz informacje dotyczące stosowania produktu leczniczego, bądź skonsultuj się z lekarzem lub farmaceutą, gdyż każdy lek niewłaściwie stosowany zagraża Twojemu życiu lub zdrowiu.

            </p>
        </div>

    </div>
</footer>

