<section class="m-teasers-container">
    <div class="wrapper">

        <div class="m-teaser-box pull-left">
            <a href="{{ url('acard_frontend_page_view', {'pageUrl': 'nadcisnienie'}) }}"><img src="{{ asset('bundles/acardfrontend/img/box1.png') }}" alt="O nadciśnieniu tętniczym"></a>
            <div class="m-teaser-box-desc">
                <h2 class="m-teaser-box-title">O nadciśnieniu tętniczym</h2>
                <p>
                    Regularna kontrola ciśnienia tętniczego stwarza możliwość wczesnego wykrycia i podjęcia odpowiedniego leczenia nadciśnienia tętniczego. Niewykryte bądź nieleczone nadciśnienie tętnicze zwiększa ryzyko wystąpienia zdarzeń sercowo-naczyniowych takich jak: zawał serca, udar mózgu, a także chorób nerek...
                </p>

                <a href="{{ url('acard_frontend_page_view', {'pageUrl': 'nadcisnienie'}) }}" class="btn read-more"><span>Czytaj więcej</span></a>
            </div>
        </div>
        <div class="m-teaser-box pull-left">
            <a href="{{ url('acard_frontend_page_view', {'pageUrl': 'acard'}) }}"><img src="{{ asset('bundles/acardfrontend/img/box2.png') }}" alt="Acard"></a>
            <div class="m-teaser-box-desc">
                <h2 class="m-teaser-box-title">Acard</h2>
                <p>
                    Lek ACARD zawiera kwas acetylosalicylowy, który hamuje zlepianie się (agregację) płytek krwi. Lek przeznaczony jest do długotrwałego, profilaktycznego stosowania w chorobach, które grożą powstaniem zakrzepów i zatorów w naczyniach krwionośnych.
                </p>

                <a href="{{ url('acard_frontend_page_view', {'pageUrl': 'acard'}) }}" class="btn read-more"><span>Czytaj więcej</span></a>
            </div>
        </div>
    </div>
</section>