{% extends "AcardFrontendBundle::page_layout.html.twig" %}

{% block javascripts %}
    {{ parent() }}
{% endblock %}

{% block body %}
    {{ include('AcardFrontendBundle:_Partials:stats_small.html.twig', {}) }}
    <section class="page-content">
        <div class="wrapper">
            <div class="col-sm-8 page-content-article">
                {% block content %}
                    <div class="col-sm-8 page-content-article aktualnosc">
                        <header class="page-content-header">Aktualności</header>
                        <article>
                            <h2>{{news.title}}</h3>
                            <img class="main" src="/uploads/news/{{news.fileThumb2}}" alt="{{news.title}}"/>
                            <div class="sneak">{{news.sneakPeak}}</div>
                            <div class="body">{{news.body|raw}}</div>
                            {% if(gallery|length) %}
                                <div class="gallery">
                                    <ul>
                                        {% for img in gallery %}
                                            <li {% if(loop.index%3 == 0) %}class="lastInRow"{% endif %}>
                                                <a href="{{ asset('uploads/gallery/' ~ img.file) }}" rel="gal" class="nyroModal" title="{{ img.alt }}">
                                                    <img src="/uploads/gallery/{{img.fileThumb}}" alt="{{img.alt}}"/>
                                                </a>
                                            </li>
                                        {% endfor%}
                                    </ul>
                                </div>
                            {% endif%}
                            <div class="clearfix"></div>
                            <a id="back" href="{{ path('acard_frontend_news_index') }}" >Powrót do listy</a>
                        </article>
                    </div>
                {% endblock %}
            </div>
            {{ include('AcardFrontendBundle:_Partials:calendarium.html.twig', {}) }}
        </div>
    </section>
    {{ include('AcardFrontendBundle:_Partials:modal_video.html.twig', {}) }}
    {{ include('AcardFrontendBundle:_Partials:teasers.html.twig', {}) }}
{% endblock %}