<div id="menu" class="menu">
    <img src="{{ asset('bundles/acardfrontend/img/logo.png') }}">
    <br>
    <ul>
        <li><a href="{{ path('acard_backend_index') }}">Strony</a></li>
        <li><a href="{{ path('acard_backend_city_index') }}">Miasta</a></li>
        <li><a href="{{ path('acard_backend_event_index') }}">Wydarzenia</a></li>
        <li><a href="{{ path('acard_backend_video_index') }}">Filmy</a></li>
        <li><a href="{{ path('acard_backend_gallery_index') }}">Galeria</a></li>
        <li><a href="{{ path('acard_backend_custom_field_index') }}">Licznik badań</a></li>
        <li><a href="{{ path('acard_backend_competition_index') }}">Formularz konkursowy</a></li>
        <li><a href="{{ path('acard_backend_news_index') }}">Aktualności</a></li>
        <li><a href="{{ path('surgeries') }}">Gabinety</a></li>
    </ul>
    <ul>
        <li><a href="/index.php/logout">Wyloguj</a></li>
    </ul>
</div>
